# Slicing

Extract a sublist using colon (:) syntax

In [1]:
list = ["alkesh", "tushar", "sanket", "buny"]
first_two = list[0:2]  # first_two will contain ["alkesh", "tushar"]
everything_except_last = list[:-1]  # everything_except_last will contain ["alkesh", "tushar", "sanket"]
list = list[::-1]  # list will contain a reversed copy of the list

print(list)
print(first_two)
print(everything_except_last)
print(list)

['buny', 'sanket', 'tushar', 'alkesh']
['alkesh', 'tushar']
['alkesh', 'tushar', 'sanket']
['buny', 'sanket', 'tushar', 'alkesh']

# Accessing Elements:

Use zero-based indexing to access elements:

In [2]:
my_list = ["alkesh", "tushar", "sanket", "buny"]
emp_name = my_list[0]# emp_name will contain "alkesh"
emp_name1 = my_list[3] 
last_emp_name = my_list[-1]  # last_emp_name will contain "buny" (negative indexing)

In [3]:
print(my_list)
print(emp_name)
print(emp_name1)

print(last_emp_name)

['alkesh', 'tushar', 'sanket', 'buny']
alkesh
buny
buny

# Append function

Add an element to the end of list .

In [4]:
my_list = ["alkesh", "tushar", "sanket", "buny"]
my_list

['alkesh', 'tushar', 'sanket', 'buny']

In [7]:
my_list.append("chetan")  # Add "chetan" to the end

In [8]:
my_list

['alkesh', 'tushar', 'sanket', 'buny', 'chetan', 'chetan']

# Insert function

 Insert an element at a specific index.

In [9]:
my_list = ["alkesh", "tushar", "sanket", "buny"]
my_list

['alkesh', 'tushar', 'sanket', 'buny']

In [10]:
my_list.insert(3, "chetan")  # Insert "chetan" at index 3

In [11]:
my_list

['alkesh', 'tushar', 'sanket', 'chetan', 'buny']

# Extend function

Add all elements from an iterable

In [12]:
my_list = ["alkesh", "tushar", "sanket", "buny"]
my_list

['alkesh', 'tushar', 'sanket', 'buny']

In [13]:
my_list.extend(["nilam", "raju"])  # Add all elements from a list

In [14]:
my_list

['alkesh', 'tushar', 'sanket', 'buny', 'nilam', 'raju']

# Remove function

The remove function method removes a given element from the list.

In [19]:
my_list = ["alkesh", "tushar", "sanket", "buny"]
my_list

['alkesh', 'tushar', 'sanket', 'buny']

In [20]:
my_list.remove("tushar")  # Remove the  "tushar"

In [21]:
my_list

['alkesh', 'sanket', 'buny']

# Pop function

Pop function removes element at a specific index from the list.

In [22]:
my_list = ["alkesh", "tushar", "sanket", "buny"]
my_list

['alkesh', 'tushar', 'sanket', 'buny']

In [23]:
removed_emp_name = my_list.pop(1)  # Remove and return the element at index 2

In [24]:
my_list

['alkesh', 'sanket', 'buny']

# Clear function

Clear function method removes all items from the list making it an empty list.

In [25]:
my_list = ["alkesh", "tushar", "sanket", "buny"]
my_list

['alkesh', 'tushar', 'sanket', 'buny']

In [26]:
my_list.clear()

In [27]:
my_list

[]

# count function

This function method returns the count of the occurrences of a given element in a list.

In [28]:
my_list = ["alkesh", "tushar", "sanket", "buny","buny"]
my_list

['alkesh', 'tushar', 'sanket', 'buny']

In [31]:
my_list.count("buny")

1

In [33]:
my_list.count("tushar")

1

# sort function

Sort the list in ascending order (in-place)

In [34]:
my_list = ["alkesh", "tushar", "sanket", "buny"]
my_list

['alkesh', 'tushar', 'sanket', 'buny']

In [35]:
my_list.sort()  # Sort in ascending order (in-place)

In [36]:
my_list

['alkesh', 'buny', 'sanket', 'tushar']

In [55]:
num = [20,15,45,25,7,9,18,23,11,12,5,35,]
num

[20, 15, 45, 25, 7, 9, 18, 23, 11, 12, 5, 35]

In [56]:
num.sort()

In [57]:
num

[5, 7, 9, 11, 12, 15, 18, 20, 23, 25, 35, 45]

# reverse function

Reverse the order of elements

In [52]:
num = [20,15,45,25,7,93,138,233,1153,5,35,]
num

[20, 15, 45, 25, 7, 93, 138, 233, 1153, 5, 35]

In [53]:
num.reverse()  # Reverse the order

In [54]:
num

[35, 5, 1153, 233, 138, 93, 7, 25, 45, 15, 20]

# min function

Min function returns the smallest element.

In [48]:
num = [20,15,45,25,7,1,18,23,11,12,5,35,]
num

[20, 15, 45, 25, 7, 1, 18, 23, 11, 12, 5, 35]

In [49]:
min(num)

1

# max function

Max function return the largest element.

In [46]:
num = [20,15,45,25,7,9,18,23,11,198,5,35,]
num

[20, 15, 45, 25, 7, 9, 18, 23, 11, 198, 5, 35]

In [47]:
max(num)

198