# Indexing

Access individual elements of a tuple using square brackets []

In [15]:
my_tuple = (12, 27, 39, 64, 95)
my_tuple

(12, 27, 39, 64, 95)

In [16]:
print(my_tuple[0])

12

# Slicing

Extract a subset of elements from a tuple.

In [17]:
my_tuple = (10, 25, 35, 4, 5)
my_tuple

(10, 25, 35, 4, 5)

In [18]:
print(my_tuple[1:4])

(25, 35, 4)

# Length

Get the number of elements in a tuple using the len() function.

In [19]:
my_tuple = (189, 27, 93, 44, 57,94,89,89,)
my_tuple

(189, 27, 93, 44, 57, 94, 89, 89)

In [20]:
print(len(my_tuple))

8

# Concatenation

Concatenate two tuples using the + operator.

In [21]:
tuple1 = (1, 2, 3,4,5,6,7,8,9)
tuple2 = (10,11,12,13,14,15,16,17,18,19,20)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)  # Output: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

# Repetition

Repeat a tuple for a given number of times using the * operator.

In [8]:
my_tuple = (1, 2, 3, 4, 5)
my_tuple

(1, 2, 3, 4, 5)

In [9]:
repeated_tuple = my_tuple * 2
print(repeated_tuple)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

# Count

Count the occurrences of a specific element in a tuple using the count() method.

In [10]:
my_tuple = (1, 2, 3, 4, 5)
my_tuple

(1, 2, 3, 4, 5)

In [11]:
print(my_tuple.count(3))

1

# SORTED

this method takes a tuple as an input and returns a sorted list as an output

In [12]:
my_tuple = (22,3, 35, 4,2.4,2,56,90,1)
my_tuple

(22, 3, 35, 4, 2.4, 2, 56, 90, 1)

In [13]:
my_tuple1 = sorted(my_tuple)

In [14]:
my_tuple1

[1, 2, 2.4, 3, 4, 22, 35, 56, 90]